$accent-color: #FFC5C5;
$active-color: #E7BCDE;
$body-color: #E2CEBC;
$font-color: #323232;
$body-light-color: #EDE3DA;
$form-color: #FFFEFE;
$input-color: #F6F6F6;
$link-color: #5FBDFF;
$dark-link-color: #7B66FF;
$purple-soft-color: #DCBFFF;
$purple-gloomy-color: #D0A2F7;