.item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 12px 6px;
    background: $input-color;
    border-radius: 12px;
    border: 1px solid $body-light-color;
    transition: .2s;
    max-height: 460px;

    &:hover {
        background: #31304D;
        color: $input-color;
        border: 1px solid $font-color;
    }
}

.item__image {
    width: 170px;
    height: 230px;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px solid $input-color;
    object-fit: cover;
    object-position: center;
}

.item__title {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 30px;
}

.item__description {
    margin-top: 10px;
    margin-left: 35px;
    line-height: 18px;
}

.item__price {
    margin: 10px 0;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.item__button {
    margin: 0 auto;
    font-weight: 600;
    width: 170px;
    padding: 8px 14px;
    background-color: $link-color;
    border-radius: 4px;
    transition: .2s;

    &:hover {
        background-color: $dark-link-color;
        color: $form-color;
    }
}